#
# Copyright (c) 2017 by QA Cafe.
# All Rights Reserved.
#

# general things to ignore
build/
dist/
docs/_build/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache
.coverage*
